@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f4f7fb;
  color: #021327;
}


.colpri {
  color: #021327;
}

.colalt {
  color: #f4f7fb;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#f4f7fb, #f4f7fb);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#021327, #021327);
}
.link-underline-small {
  background-size: 0 2px;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.link-underline-small:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}